{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<div class="form-group">
    <label for="username" class="form-control-label required">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
</div>
    <div class="form-group">
    <label for="password" class="form-control-label required">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />
    </div>
    <div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <input type="submit" id="_submit" class="btn btn-success" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
